.standard {
    background: #fefefe;
    margin: 5px;
    /* border-color: @layout-header-background; */
};

.dragging {
    /* background: @primary-color, */
};

.tag {
    /* color: @layout-header-background!important;
    border-color: @layout-header-background!important; */
}
