@import '~antd/dist/antd.less';

.paper {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    border: 1px solid @border-color-base;
    border-radius: @border-radius-base;
}
.paper-single {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    margin: 10px;
    border: 1px solid @border-color-base;
    border-radius: @border-radius-base;
}
.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.download {
    margin: 10px;
    text-decoration: none;
}
.name {
    text-align: center;
    // color: @primary-color;
}
.extension {
    text-align: center;
    font-size: 0.8em;
}