@import '~antd/dist/antd.less';

.content {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20
}

.content-drag {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20;
    background: @primary-color;
}